@import "tailwindcss";
@import "tippy.js/dist/tippy.css";
@import "tippy.js/dist/backdrop.css";
@import "tippy.js/animations/shift-away.css";

@font-face {
  font-family: inter-regular;
  src: url(./assets/fonts/Inter-Regular.otf);
}

@font-face {
  font-family: inter-bold;
  src: url(./assets/fonts/Inter-Bold.otf);
}

:root {
  --accent-color-primary: #1073ef;
  --accent-color-secondary: color-mix(
    in srgb,
    var(--accent-color-primary) 50%,
    white
  );
}

[data-theme="light"] {
  --bg-primary: rgb(250, 250, 250);
  --bg-secondary: rgb(235, 235, 242);
  --foreground-primary: rgb(0, 0, 0);
  --foreground-secondary: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --bg-primary: rgb(18, 18, 18);
  --bg-secondary: rgb(35, 35, 35);
  --foreground-primary: rgb(250, 250, 250);
  --foreground-secondary: rgb(235, 235, 242);
}

body {
  background: var(--bg-primary);
  color: var(--foreground-primary);
  font-family: inter-regular;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inter-bold;
}

button,
a {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input:not(.no-focus):focus {
  border-color: var(--accent-color-primary);
  transition: all 200ms ease;
}

button,
.like-button {
  transition: all 200ms ease;
}

button:not(.no-hover),
.like-button {
  position: relative;
  overflow: hidden;
}

button:not(.no-hover)::before,
.like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(130, 130, 140, 0.4);
  opacity: 0;
  transition: opacity 100ms ease;
  z-index: 1;
}

button:not(.no-hover):hover::before,
.like-button:hover::before {
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

button:disabled,
.like-button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

button:active,
.like-button:active {
  transform: scale(0.9);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.danger-action {
  @apply text-red-500 hover:bg-red-500/15 dark:hover:bg-red-500/20;
}

.danger-surface {
  @apply bg-red-500/10 text-red-500 hover:bg-red-100/10;
}
